.archive-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  
  .archive-title {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
  }
  .data-types {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    font-size: 1.5rem;
  }
  
  .archive-job-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
  }
  
  .archive-job-basic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border: 1px solid black;
    background-color: lightyellow;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-left: .5rem;
  }
  
  .archive-job-hover-container {
    /* height: 100px;
    width: 200px; */
    background-color: rgb(147, 147, 147);
    border: 1px solid black;
    position: absolute;
    /* top: -120%; */
    /* left: -90%; */
    display: flex;
    flex-direction: column;
    padding: .5rem;
    z-index: 5;
  }
  