img {
  height: 1px;
  width: 1px;
}

.home-container {
  /* background-color: black; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-inline: 1rem;
}

.home-title {
  display: flex;
  margin-left: 5px;
  gap: 1rem;
  font-size: 1.5rem;
  align-self: flex-start;
  /* text-shadow: -1px 0px 0px #DE5D82,
  1px 0px 0px #DE5D82,
  0px -1px 0px #DE5D82,
  0px 1px 0px #DE5D82; */
  color: #DE5D82;
}

.home-schedule-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.home-schedule {
  height: 350px;
  /* border: 1px solid rgba(112, 128, 144, 0.196);
  border-radius: 10px; */
  border: 1px none #172c66;
  border-radius: 20px;
  /* box-shadow: 1px 2px 5px lightslategray; */
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
  inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #e0e0e0;
  position: relative;
}

.home-schedule-active-day {
  font-weight: 500;
  margin-left: 5px;
  font-size: 1.2rem;
}

.home-schedule-interval {
  width: calc(100%/12);
  height: 100%;
  /* background-color: lightpink; */
  display: flex;
  justify-content: center;
  /* border: 0.5px solid black; */
  /* border-left: 1px dotted rgb(169, 169, 169); */
  border-left: 1px solid rgba(169, 169, 169, 0.367);
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  /* background-image: linear-gradient(rgb(137, 137, 137) 33%, rgba(255,255,255,0) 0%);
  background-position: right;
  background-size: 2px 10px;
  background-repeat: repeat-y; */
}

.home-schedule-interval:nth-of-type(1) {
  border: none;
}
.home-schedule-interval:nth-of-type(12) {
  background-image: none;
}

.home-schedule-interval-display-container {
  font-weight: 500;
  display: flex;
  position: relative;
  left: -10px;
}

.home-schedule-interval-display {
  width: calc(100%/12);
  /* background-color: aliceblue; */
}

/* .home-schedule-job-container {
  display: relative;
} */

.home-schedule-job {
  background-color: lightgray;
  /* border: 1px solid #80808070;; */
  border: 1px solid rgba(0, 0, 0, 0.282);
  border-radius: 5px;
  height: 30px;
  width: 30%;
  position: relative;
  box-shadow: 2px 2px 3px rgba(119, 136, 153, 0.767);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.home-schedule-job:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.current-time {
  position: absolute;
  border-right: 1px solid rgba(0, 0, 0, 0.242);
  height: 100%;
  /* width: 30%; */
  background-color: rgba(125, 125, 125, 0.316);
}

.home-schedule-job-hover-container {
  /* height: 100px; */
  /* width: 200px; */
  background-color: lightslategray;
  color: white;
  border: 1px solid white;
  position: absolute;
  top: -120%;
  left: -90%;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  z-index: 5;
  border-radius: 5px;
}

.home-job-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* border: 1px solid black; */
  border: none;
  padding-block: .5rem;
  margin-top: 2rem;
  width: 100%;
}

.home-job-list-grid {
  display: grid;
  grid-template-columns: .5fr .7fr .5fr .7fr 1fr;
  align-items: center;
  overflow: hidden;
  /* background-color: red; */
  padding-inline: 1rem;
}


.home-job-list-grid-header {
  position: relative;
  left: 8px;
  color: rgb(0, 0, 0); 
  cursor: pointer;
}


.home-job {
  height: 50px;
  border: 1px none #172c66;
  box-shadow: 1px 1px 4px #bebebe,
  -1px -1px 4px lightgray;
  /* background: linear-gradient(145deg, lightyellow, lightyellow ); */
  /* background-color: lightyellow; */
  border-radius: 5px;
  /* display: flex; */
  /* align-items: center; */
  /* padding-left: .5rem; */
  gap: 10px;
  transition: .1s;
  /* background: linear-gradient(145deg, lightyellow, lightyellow ); */
  /* background-color: lightyellow; */
  /* border-radius: 15px; */
  padding-left: .5rem;
}

.home-job:hover {
  cursor: pointer;
}