.sidebar {
  height: 100vh;
  width: 250px; 
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: var(--sidebar-color);
  padding-top: 90px;
  transition: 0.5s ease-in-out;
  font-size: 25px;
}

.sidebar_active {
  height: 100vh;
  width: 0; 
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: var(--sidebar-color);
  padding-top: 90px;
  transition: 0.5s ease-in-out;
  font-size: 25px;
}

.sidebar_active .sidebar_links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -1000px;
  position: fixed;
  transition: 0.5s ease-in-out;
}

.sidebar_links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -750px;
  position: fixed;
  transition: 0.5s ease-in-out;
  color: green;
}

.sidebar_active .sidebar_links li {
  padding: 10px;
  --c: #c110bb10;
  --h: 1.7em ; 
  line-height: var(--h);
  color: #0000;
  overflow: hidden;
  text-shadow:
    0 calc(-1 * var(--_t, 0em)) var(--c), 
    0 calc(var(--h) - var(--_t, 0em)) #fff;
  background:
    linear-gradient(var(--c) 0 0) no-repeat
    calc(200% - var(--_p, 0%)) 100% / 200% var(--_p, .08em);
  transition: .3s var(--_s, 0s), background-position .3s calc(.3s - var(--_s, 0s));
}

.sidebar .sidebar_links li {
  padding: 10px;
  --c: #c110bb10;
  --h: 1.7em ; 
  line-height: var(--h);
  color: #0000;
  overflow: hidden;
  text-shadow:
    0 calc(-1 * var(--_t, 0em)) var(--c), 
    0 calc(var(--h) - var(--_t, 0em)) #fff;
  background:
    linear-gradient(var(--c) 0 0) no-repeat
    calc(200% - var(--_p, 0%)) 100% / 200% var(--_p, .08em);
  transition: .3s var(--_s, 0s), background-position .3s calc(.3s - var(--_s, 0s));
}

.sidebar .sidebar_links li:hover {
  --_t: var(--h);
  --_p: 100%;
  --_s: .3s
}

/* .sidebar_active .sidebar_links li:hover {
  padding: 10px;
  color: aqua;
  background-color: white;
} */

.sidebar_active .closebtn {
  position: fixed;
  margin-left: 15px;
  margin-top: -63px;
  transition: 0.5s ease-in-out;
}

.sidebar .closebtn {
  position: fixed;
  margin-left: 215px;
  margin-top: -63px;
  transition: 0.5s ease-in-out;
}

/* .sidebar .sidebar_links li, .sidebar_active .sidebar_links li {
  font-size: 25px;
  position: relative;
}  */


/* .sidebar {
  height: 100%;
  width: 250px; 
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgb(223, 127, 185);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
} */

/* .sidebar li {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar li:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0; 
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#app {
  transition: margin-left .5s;
  padding: 20px;
} */

@media screen and (max-height: 450px) {
  .sidebar { padding-top: 15px; }
  .sidebar a { font-size: 18px; }
}


/* .sidebar li a {
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  margin-left: 10%;
  margin-top: 10px;
  display: block;
  color: #fff;
} */
/* 
.hamburger {
  border: none;
  outline: 0;
  width: 20%;
  height: 100vh;
  position: absolute;
  right: -25px;
  background-color: rgb(57, 103, 131);
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:after, .hamburger:before, .hamburger div {
  background-color: rgb(55, 192, 43);
  height: 7px;
  margin-right: 7px 0;
  border-radius: 3px;
  content: "";
  display: block;
  transition: all 300ms ease-in-out;
}

.sidebar.active .hamburger:before {
  transform: translateY(12px) rotate(-90deg);
}

.sidebar.active .hamburger::after {
  transform: translateY(-12px) rotate(90deg);
}

.sidebar.active .hamburger div {
  transform: scale(100);
} */

.nav-bar {
  position: fixed;
  width: 350px;
  height: 75px;
  top: -60px;
  left: 50%;
  font-size: 1rem;
  border-radius: 5px;
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav-bar:hover {
  top: -15px;
}

.nav-bar-icon {
  height: 50%;
  width: 20%;
  /* background-color: saddlebrown; */
}
