body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0rem;
  max-width: 38rem;
  padding: 1rem;
  padding-inline: 2rem;
  background-color: lightblue;
}

main { 
  width: calc(100vw - 4.5rem);
}
