@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Kenia&family=Offside&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

/* body {
  /* font-family: "Poppins", "Avenir", "Helvetica", "Arial", sans-serif; */
  /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* color: darkslategray;
  font-size: small; */

body {
  font-family: "Poppins", "Avenir", "Helvetica", "Arial", sans-serif;
  color: darkslategray;
  font-size: small;
  margin: 0rem;
  max-width: 38rem;
  padding: 1rem;
  padding-inline: 2rem;
  background-color: var(--bg-light-primary);
}

:root {
  --bg-light-primary: rgb(238, 238, 238);
  --bg-light-secondary: lightblue;
  --bg-dark-primary: slategray;
  --bg-dark-secondary: black;
  --sidebar-color: rgb(223, 127, 185);
  --calendar-color: rgb(255, 255, 255);

  --bg-light-primaryrgb: 173, 216, 230;
  --bg-dark-secondaryrgb: 222, 93, 130;
  --bg-dark-primaryrgb: 112, 128, 144;
  --bg-light-secondaryrgb: 255, 255, 224;
  --sidebar-color-rgb: 223, 127, 185
}

#root {
  height: calc(100vh - 4.5rem);
  width: calc(100vw - 4.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

main { 
  width: calc(100vw - 4.5rem);
}

.proteus-title {
  font-family: 'Days One', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: white;
  /* text-shadow: 2px 2px 8px #DE5D82; */
  margin-inline: 1rem;
  text-shadow: 0 0 0.2em var(--bg-dark-secondary), 0 0 0.2em var(--bg-dark-secondary),
    0 0 0.2em var(--bg-dark-secondary);
}

a {
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  color: darkslategray;
  margin-left: 800px;
}

li {
  list-style-type: none;
}